/*
font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);

  font-size: 94%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
}

.reset-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.show-menu {
  overflow: hidden;
}
