:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);

  font-size: 94%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
}

.reset-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.show-menu {
  overflow: hidden;
}

.menu--hover {
  @media screen and (min-width: 1280px) {
    &:hover {
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -0.5em;
        width: 1.8rem;
        height: 0;
        border-bottom: 2px solid var(--White);
        transform: translateX(-50%);
      }
    }
  }
}
