include ../mixins/menuitem

header.header 
  nav.mainnavbar 
    img.logo(src="assets/images/logo.svg", alt="loop studios")
    button.togglemenubutton(aria-label="main menu toggle button" aria-expanded="false")
      img.button-img(src="assets/images/icon-hamburger.svg" alt="")
    ul.mainmenu.reset-list.menu--translate.menu--hide
      each item in menuItems 
        +menuItem("mainmenu", item)
  h1.title Immersive experiences that deliver