mixin socialItem(net)
  li.sociallist__item
    a.sociallist__link.menu--hover(href=`http://www.${net}.com` aria-label=`visit us on ${net}`)
      img.sociallist__img(src=`assets/images/icon-${net}.svg` alt=`${net} logo`)