- const menuItems = ["About", "Careers", "Events", "Products", "Support"]
- const socialItems = ["facebook", "twitter", "pinterest", "instagram"]
- const creations = [{text:"deep earth", img:"deep-earth"}, {text:"night arcade", img:"night-arcade"}, {text:"soccer team vr", img:"soccer-team"}, {text:"the grid", img:"grid"}, {text:"from up above vr", img:"from-above"}, {text:"pocket borealis", img:"pocket-borealis"}, {text:"the curiosity", img:"curiosity"}, {text:"make it fisheye", img:"fisheye"},]