.header {
  height: 177vw;
  padding-top: 3rem;
  margin-bottom: 5.7rem;

  background-image: url("../assets/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 1024px) {
    height: 650px;
    padding-top: 4.35rem;

    background-image: url("../assets/images/desktop/image-hero.jpg");
    background-size: cover;
  }
}

.mainnavbar {
  position: relative;
  width: 90%;
  margin-inline: auto;
  margin-bottom: 10.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    width: 78%;
    margin-bottom: 8.5rem;
  }
}

.logo {
  width: clamp(150px, 14vw, 194px);
}

.togglemenubutton {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.mainmenu {
  position: absolute;
  top: -3rem;
  left: -5vw;
  width: 100vw;
  height: 100vh;
  padding-block: 15rem;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--Black);

  transition: transform 0.5s;
  z-index: -1;

  @media screen and (min-width: 1024px) {
    position: static;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;

    width: auto;
    height: auto;

    background-color: transparent;
  }

  &__link {
    position: relative;

    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--White);

    @media screen and (min-width: 1024px) {
      font-family: "Alata", sans-serif;
      font-size: 1rem;
      text-transform: capitalize;
    }
  }
}

.menu--translate {
  transform: translateX(100vw);

  @media screen and (min-width: 1024px) {
    transform: translateX(0);
  }
}

.menu--hide {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.title {
  width: 90%;
  max-width: 648px;
  margin-block: 0;
  margin-inline: auto;
  padding: 0.5em 0.7em 0.4em 0.55em;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: min(10.8vw, 4.7rem);
  text-transform: uppercase;
  line-height: 1;

  border: 2px solid var(--White);
  color: var(--White);

  @media screen and (min-width: 1024px) {
    margin-inline: 11vw auto;
  }
}
